.popup__button {
    width: 358px;
    height: 50.15px;
    background: #000000;
    border-radius: 2px; 
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 0px;
    border: none;
    margin: 0px 36px 36px 36px;
}

.popup__button:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 505px) {
    .popup__button {
        margin-left: calc(36px * 0.6);
        margin-right: calc(36px * 0.6);
        margin-bottom: calc(36px * 0.6);
        max-width: calc(358px * 0.6);
    }
}