.header {
    border-bottom: 1px solid;
    border-bottom-color: rgba(84,84,84, 0.7);
    max-width: 882px;
    margin-bottom: 40px; 
}

@media screen and (max-width: 583px) {
    .header {
        max-width: 100vw;
        min-height: 24.4px;
        padding-left: 27px;
        padding-right: 19px;
    }
}
