.profile__content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 583px) {
  .profile__content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 36px;
  } 
}
