.popup__close-icon {
    background: url(../../../images/close-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 40.7px;
    height: 40.7px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: -40.7px;
    margin-right: -40.7px;
    padding: 0; 
}

.popup__close-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 505px) {
    .popup__close-icon {
        width: calc(40.7px * 0.6);
        height: calc(40.7px * 0.6);
        margin-top: calc(-40.7px * 0.6);
        margin-right: calc(-40.7px * 0.6);
    }
}