.profile__avatar {
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

@media screen and (max-width: 583px) {
  .profile__avatar {
    margin-bottom: 14px;
    margin-right: 0;
  } 
}
