.profile__info {
    max-width: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (max-width: 881px) {
    .profile__info {
        max-width: 280px;
        min-height: 66px;
    } 
}