.footer {
    max-width: 318px;
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 568px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
        margin-left: 19px;
        margin-right: 19px;
    }
}
  