.profile__job {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 881px) {
    .profile__job {
        font-size: 14px;
    }
}

@media screen and (max-width: 583px) {
    .profile__job {
        text-align: center;
    }
}